# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mac OS system files
*.DS_Store

# Sublime local files
*.sublime-workspace

# Specific folders
c/gomoku/out
java/learn_java/out
java/learn_java/.idea/dictionaries
java/learn_java/.idea/workspace.xml
py/look_for
java/web/peopleana/logs
c/student_sys_20161121/main

